################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSdirect_BookStore/WebSdirect_BookStore/wwwroot/css/homeCss.css
